* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*/////////////  HEADER  ///////////////////*/


header {
    display: flex;
    padding: 3%;
    align-items: center;
    background-color: rgb(255 255 255 / 95%);
    flex-wrap: wrap;
    /*lineas 16 and 17 para que el menu puedas bajas a otra linea*/
    justify-content: space-between;
    flex-direction: row-reverse;
    border-color: #e5e7eb;
    border-style: solid;
    border-width: 2px;
    position: sticky;
    top:0;
    z-index: 10;
}

#logo-mariela {
    color: rgb(0, 21, 54);

}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.container {
    margin: 5%;
}

.navbar {
    display: none;
    width: 100%;
}

.navbar.open {
    display: block;
}

ul {
    list-style: none;
    display: flex;
    gap: 6%;
    align-items: center;
    flex-direction: column;

}

a {
    text-decoration: none;
}

ul>li {
    padding: 10px 20px;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

ul>li>a {
    color:rgb(55 65 81);
    font-size: 25px;
}

/*/////////////  MASTHEAD  ///////////////////*/


.masthead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10%;
}

.hero-container {
    border-radius: 9999px;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px 5px rgb(59 130 246 / 50%);
    background: linear-gradient(to bottom, rgb(59, 131, 246), rgb(104, 23, 141));
    overflow: hidden;
}

#imagen-mariela {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.text-mariela {
    color: rgb(59 130 246);
    font-weight: 900;
}

.social-red {
    margin: 1.5rem 0 1.5rem 0;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    gap: 8px;
    display: flex;
    border-radius: 5px;
    
}

.social-red a {
    padding: 5px;
    border-radius: 5px;
    background-color: #7492e277;
}

.description-container {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: rgb(75 85 99);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#button-proyects {
    background-color: rgb(59 130 246);
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    text-align: center;
    color: rgba(220, 224, 224, 0.911);
    font-size: 1.3rem;
    font-weight: 700;
}

#button-contact {
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: rgb(59 130 246);
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid rgb(59 130 246);
}

.underline {
    width: 100px;
    height: 4px;
    background-color: rgb(59 130 246);
    margin: 0.5rem 0 2rem 0;
}

/*/////////////  SOBRE MI  ///////////////////*/


.position {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.long-text-container {
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
}

.long-text {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: rgb(75 85 99);
}

.erraments {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

/*/////////////  BANNER  ///////////////////*/


.banner {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.banner-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.banner-description>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-foto {
    width: 290px;
    height: 555px;
}

.card-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 5px rgb(59 130 246 / 50%);
    background: linear-gradient(to bottom, rgb(59, 131, 246), rgb(104, 23, 141));
    color: rgba(220, 224, 224, 0.911);
    border-radius: 20px;
    
}

.card-progress h3 {
    font-size: 30px;
}

.card-progress p {
    text-align: center;
    margin: 15px;
    color: #e5e7ebcb;
}

.banner-dedication {
    display: flex;
    gap: 5%;
}

/*/////////////  CARDS CURSOS  ///////////////////*/

.cards-flex {
    display: flex;
    margin: 10% 0 10% 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.card-container {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    width: 45%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.descriptionCourse-top {
    background-color: #07300d;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.description-course {
    margin: 20px;
    flex-grow: 1;
    /* ocupa todo el espacio que sobra en la card */
    display: flex;
    flex-direction: column;
}

.description-course p {
    color: rgb(75 85 99);
    margin-bottom: 20px;
}

.description-course h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.course-sistems {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 20px;
    margin-top: auto;

}

.course-sistems span {
    color: #690488;
    background-color: rgba(113, 0, 158, 0.288);
    padding: 1% 3% 1% 3%;
    border-radius: 15px;
    margin-top: 2px;
}

.card-container a {
    display: block;
    background-color: rgb(59 130 246);
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    color: rgba(220, 224, 224, 0.911);
    font-size: 1.3rem;
    font-weight: 700;
    width: 100%;
    margin-top: auto;
}

.flex-item1 .descriptionCourse-top {
    background-color: #db2777;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.flex-item2 .descriptionCourse-top {
    background-color: #2563eb;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.flex-item3 .descriptionCourse-top {
    background-color: #0891b2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.flex-item4 .descriptionCourse-top {
    background-color: #16a34a;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.flex-item5 .descriptionCourse-top {
    background-color: #4f46e5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.flex-item6 .descriptionCourse-top {
    background-color: #059669;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

/*/////////////  MAS COSAS  ///////////////////*/

.mor-things {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}


.vide-programing {
    width: 100%;
    margin-bottom: 3%;
    max-width: 500px;
}

.things-fotos {
    display: flex;
    gap: 20px;
    width: 100%;
}

.items-foto {
    width: 30%;
    height: 100px;
    object-fit: cover;
}



/*/////////////  FORMULARIO ///////////////////*/


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5%;
    padding: 5%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 10px;
}

.form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.form-title h2 {
    font-size: 2.25rem;

}

.form-title p {
    font-size: 1.125rem;
    color: rgb(75 85 99);
}

.form-redes {
    margin: 5rem 0 5rem 0;

}

.form-redes .circle {
    background-color: rgb(59 130 246);
    width: 30px;
    height: 30px;
    border-radius: 9999px;

}

.circle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.circle-container a {
    color: rgb(75 85 99);
    font-size: 20px;
}

.circle-container h3 {
    font-weight: 600;
}

.form-group {
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-radius: 5px;
}

form input {
    border: solid 1px rgb(209 213 219);
    padding: 2%;
    border-radius: 5px;
    font-size: 1rem;
}

form textarea {
    padding: 2%;
    font-size: 1rem;
}

.form-submit {
    background-color: rgb(59 130 246);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: rgba(220, 224, 224, 0.911);
    font-size: 1.3rem;
    font-weight: 700;
    border: none;
}



/*/////////////  fOOTER ///////////////////*/

footer {
    padding: 1rem;
    background-color: rgb(30 41 59);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    color: rgb(209 213 219);
    text-align: center;
}

footer div{
    display: flex;
    flex-direction: column;
}

.line-footer{
    background-color: #f1f5f4;
    width: 100%;
    height: 1px;
}

footer p {
    font-size: 20px;
    margin: 5% 0 5% 0;
}


/*/////////////  MEDIA QUERIES ///////////////////*/



@media (min-width: 1000px) {
    .cards-flex {
        max-width: 1100px;
        margin: 10% auto;
    }

    .card-container {
        width: 30%;
    }
}
